root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space

[Makefile]
indent_style = tab

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.json]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2
